link(rel='stylesheet', href= '/stylesheets/dataTables.bootstrap.css')
link(rel='stylesheet', href= '/stylesheets/AdminLTE.css')
link(rel='stylesheet', href= '/stylesheets/pc-admin.css')
link(rel='stylesheet', href= '/stylesheets/ng-table.css')
link(rel='stylesheet', href= '/stylesheets/xeditable.css')
link(rel='stylesheet', href= '/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href= '/bower_components/morrisjs/morris.css')
link(rel='stylesheet', href= '/bower_components/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href= '/bower_components/ionicons/css/ionicons.min.css')
link(rel='stylesheet', href= '/bower_components/alertify.js/themes/alertify.core.css')
link(rel='stylesheet', href= '/bower_components/alertify.js/themes/alertify.bootstrap.css')
