link(rel='stylesheet', href= '/stylesheets/dataTables.bootstrap.css')
link(rel='stylesheet', href= '/stylesheets/AdminLTE.css')
link(rel='stylesheet', href= '/stylesheets/pc-admin.css')
link(rel='stylesheet', href= '/stylesheets/ng-table.css')
link(rel='stylesheet', href= '/stylesheets/xeditable.css')
link(rel='stylesheet', href= '/thirdpartlib/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href= '/thirdpartlib/morrisjs/morris.css')
link(rel='stylesheet', href= '/thirdpartlib/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href= '/thirdpartlib/ionicons/css/ionicons.min.css')
link(rel='stylesheet', href= '/thirdpartlib/alertify.js/themes/alertify.core.css')
link(rel='stylesheet', href= '/thirdpartlib/alertify.js/themes/alertify.bootstrap.css')
